{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}">
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <header>
    </header>
      <div class="topnav">
        <a href="{% url 'notes' %}">Notes</a>
        <a href="/create_note">Create Note</a>
        <div class="topnav-right">
          <a href="">{{ user }}</a>
          <a href="/admin">Admin</a>
          <a href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    <main>
    {% block content %}
        {% for object in object_list %}
        <div class="notes">
          <p><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></p>
          <p><small>{{ object.text }}</small></p>
        </div>
        {% endfor %}
    {% endblock %}
    </main>
    <footer>
    </footer> 
  </body>
</html>