{% extends "notes/list.html" %}

{% block title %}Log into Notes{% endblock %}

{% block content %}
<div class="position-absolute top-50 start-50 translate-middle shadow bg-dark bg-opacity-75 rounded border border-secondary text-white">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  {% if user.is_authenticated %}
    <p>You are already logged in</p>
    <a href="{% url 'notes' %}">To main page</a>
  {% else %}

  <div class="m-1">
    <form method="POST" class="m-0" action="{% url 'login' %}">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <br>
        <input class="btn btn-success" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
        <a class="btn btn-primary" role="button" href="{% url 'registration' %}">Registration</a>
    </form>
  </div>

  {# Assumes you setup the password_reset view in your URLconf #}
  {# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}

  {% endif %}
</div>
{% endblock %}