{% extends "notes/list.html" %}

{% block title %}Sign up for Notes{% endblock %}

{% block content %}
<div class="m-4 shadow bg-light bg-opacity-75 rounded border border-secondary">
  {% if user.is_authenticated %}
    <p>You have already registered</p>
  {% else %}
  <div class="m-1">
    <div><b>Registration new account</b></div>
    <form method="post">
      {% load crispy_forms_tags %}
      {% csrf_token %}
      {{ form|crispy }}
      <br>
      <input class="btn btn-primary" type="submit" value="Registration" name="registration">
      <a class="btn btn-secondary" role="button" href="{% url 'login' %}">Cancel</a>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}