<div class="overlay">
    <form method="POST">{% csrf_token %}
        <p class="notes-detail-title">{{ form.title }}</p>
        <p class="notes-detail-text">{{ form.text }}</p>
        {% if object1 %}
        <p class="notes-detail-down">
        <input type="submit" value="Save" name="save{{ object1.id }}">
        <input type="submit" value="Cancel" name="cancel"></p>
        {% else %}
        <p class="notes-detail-down">
        <input type="submit" value="Save" name="save">
        <input type="submit" value="Cancel" name="cancel"></p>
        {% endif %}
    </form>
</div>