{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'notes/favicon.png' %}"/>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Notes{% endblock %}</title>
  </head>
  <body>
    <header>
      {% if user.is_authenticated %}
      <div class="topnav">
        {% url 'notes' as notes_p %}
        <a {% if request.get_full_path == notes_p %}class="active"{% endif %} href="{% url 'notes' %}">Notes</a>
        {% if request.get_full_path == notes_p %}
        <form method="POST" class="form-post">
          {% csrf_token %}
          <input id="new" type="submit" value="+" name="new">
        </form>
        {% else %}
        {% url 'note_create' as notes_cp %}
        <a {% if request.get_full_path == notes_cp %}class="active"{% endif %} href="{% url 'note_create' %}">+</a>
        {% endif %}
        <div class="topnav-right">
          <div class="dropdown">
            {% if avatar %}
            <img class="avatar" src="{{ avatar.image.url }}" width="30" height="30">
            {% else %}
            <img class="avatar" src="/media/uploads/user.png" width="30" height="30">
            {% endif %}
            <div class="dropdown-content">
              <p>Hello {{ user|capfirst }}</p>
              <a href="{% url 'settings' %}">Settings</a>
              <a href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </header>
    <main>
      {% block content %}
      {% for object in object_list %}
        <div class="notes">
          <form method="POST" style="margin:0;">
          {% csrf_token %}
            <h4>{% if object.title %}{{ object.title }}{% else %}<br>{% endif %}</h4>
            {% if object.text|length <= 300 %}
            <p><textarea class="textarea1" readonly>{{ object.text }}</textarea></p>
            {% else %}
            <p><textarea class="textarea" readonly>{{ object.text }}</textarea></p>
            {% endif %}
            <p class="notes-detail-down" style="margin-top:1%;"><input type="submit" value="Edit" name="edit{{ object.id }}"> <input type="submit" value="Delete" name="delete{{ object.id }}">
            <small>Created: {{ object.created_at }} Updated: {{ object.updated_at }}</small></p>
          </form>
        </div>
      {% endfor %}
        {% if form != None %}
        <div class="overlay">
          <form method="POST">
          {% csrf_token %}
            <p class="notes-detail-title">{{ form.title }}</p>
            <p class="notes-detail-text">{{ form.text }}</p>
            {% if object1 != None %}
            <p class="notes-detail-down"><input type="submit" value="Save" name="save{{ object1.id }}"> <input type="submit" value="Cancel" name="cancel"> <input type="submit" value="To note page" name="page{{ object1.id }}"></p>
            {% else %}
            <p class="notes-detail-down"><input type="submit" value="Save" name="save"> <input type="submit" value="Cancel" name="cancel"> <input type="submit" value="To page" name="page"></p>
            {% endif %}
          </form>
        </div>
        {% endif %}
      {% endblock %}
    </main>
    <footer>
    </footer> 
  </body>
</html>