{% extends "notes/list.html" %}

{% block title %}Notes - Settings{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
  <div class="m-4 shadow bg-light bg-opacity-75 rounded border border-secondary">
    <div class="m-1">
      <p><b>You profile</b></p>
      {% load crispy_forms_tags %}
      {{ update_user_form|crispy }}
      <br>
      <input class="btn btn-warning" type="submit" value="Update" name="update_account">
      <a class="btn btn-primary" role="button" href="{% url 'notes' %}">To notes</a>
    </div>
  </div>
</form>

{% endblock %}