{% extends "notes/list.html" %}

{% block title %}Account{% endblock %}

{% block content %}

<ul>
  <li><a href="{% url 'login' %}">login</a></li>
  <li><a href="{% url 'logout' %}">logout</a></li>
  <li><a href="{% url 'password_change' %}">password_change</a></li>
  <li><a href="">password_change_done</a></li>
  <li><a href="{% url 'password_reset' %}">password_reset</a></li>
  <li><a href="">password_reset_done</a></li>
  <li><a href="">password_reset_confirm</a></li>
  <li><a href="">password_reset_complete</a></li>
</ul>

{% endblock %}