<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Index{% endblock %}</title>
  </head>
  <body>
    <header>
    </header>
    <nav>
    </nav>
    {% block content %}
    <div>
        <ul>
            <li><a href="">password_change</a></li>
            <li><a href="">password_change_done</a></li>
            <li><a href="">password_reset</a></li>
            <li><a href="">password_reset_done</a></li>
            <li><a href="">password_reset_confirm</a></li>
            <li><a href="">password_reset_complete</a></li>
        </ul>
    </div>
    {% endblock %}
    <footer>
    </footer> 
  </body>
</html>